@import "base";

$grid: (

"x                                       ",
" x                                      ",
"     x                                  ",
"      x                                 ",
"          x                             ",
"                  x                     ",
"                     x                  ",
"                           x            ",
"                              x         ",
"                                       x"

);

$grid-width: str-length(nth($grid, 1));
$column-width: 100% / $grid-width;
$row-height: 100% / length($grid);

@keyframes fly {
  0% {
    top: 0;
    left: 0;
  }

  $i: 1;

  @each $row in $grid {
    $position: str-index(nth($row, 1), 'x');

    #{$row-height * $i} {
      top: $row-height * $i;
      left: $column-width * $position;
    }

    $i: $i + 1;
  }
}

#rocket {
  position: absolute;
  margin-left: -50px;
  animation-name: fly;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
